<!DOCTYPE html>
<html lang="en">
    <title>MSI ADRIFT</title>
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="/static/css/leaflet.css" />
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/moment.min.js"></script>
        <script src="/static/js/leaflet.js"></script>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" >
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" >
        <script>
        var refresh_status = function(project_path,elid){
           $.ajax(project_path+"status.json").success(function(status){
              if(status == "Finished"){
                $("#"+elid).text("Lõpetatud");
              }else if(status.startsWith("Nurjunud")){
                $("#"+elid).text("Failed");
              }else{
                $("#"+elid).text("Töötlemisel");
                setTimeout(refresh_status.bind(null,project_path,elid),5000);
              }
           });
        };
        $(document).ready(function(){
          $.ajax({url: "/api/projects", cache: false}).success(function(projects){
              if(projects.length == 0){
                $("#projects").html("<p class='lead'>Projekte pole</p>");
                return;
              }
              let $table = $("<table class='table'><th>Projekt</th><th>Loodud</th><th>Olek</th><th>Mudel</th><th>Alguspunkt</th><th>Algusaeg</th><th>Kustuta</th></table>");
              for(let i=0;i<projects.length;i++){
                 let project = projects[i];
                 let $row = $("<tr></tr>");
                 let $a = $("<a></a>");
                 $a.attr('href',project.project_path);
                 $a.text(project.project_name);
                 let $td = $("<td></td>");
                 $td.append($a);
                 $row.append($td);
                 $td = $("<td></td>");
                 if(project.created_time){
                    let t = moment(project.created_time);
                    $td.text(t.fromNow()+" ");
                 }
                 if(new Date().getTime()-new Date(project.created_time).getTime()<20*60*60*1000){
                      let copy = $(`<form method="post" action="/project/new">
                        <input type=hidden name="copy" value="${project.release_dir}" />
                        <a onclick="javascript:this.closest('form').submit();return true;" title='Click to copy ${project.project_name}'>copy</a>
                        </form>`);
                      $td.append(copy);
                 }
                 $row.append($td);
                 $td = $("<td></td>");
                 let statuselid = "status_"+i;
                 $td.attr("id",statuselid);
                 $row.append($td);
                 $td = $("<td></td>");
                 $td.text(project.model);
                 $row.append($td);
                 $td = $("<td></td>");
                 $td.text(""+project.latitude+","+project.longitude);
                 $row.append($td);
                 $td = $("<td></td>");
                 $td.text(project.start_time.replace("+00:00",""));
                 $row.append($td);
                 $td = $("<td></td>");
                 var trash = $('<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>');
                 var button = $("<button class='btn btn-default'></button>");
                 button.attr('title','click to delete "'+project.project_name+'"');
                 button.click(function(project){
                     if(confirm('Delete '+project.project_name+"?")){
                       $(this).closest("tr").remove();
                       $.ajax({
                           url: project.project_path,
                           type: 'DELETE',
                           success: function(result) {
                           }
                       });
                     }
                 }.bind(button,project));
                 button.append(trash);
                 $td.append(button);
                 $row.append($td);
                 $table.append($row);
                 refresh_status(project.project_path,statuselid);
              }
              $("#projects").empty();
              $("#projects").append($table);
          });
        });
        </script>
    </head>
    <body>
        <div class="container">
            <h1>MSI ADRIFT <img align="right" src="/static/img/KIK_Symbol_varv.png" alt="KIK" width="70" height="70"/><img align="right" src="/static/img/MSI_logo_new_medium.png" alt="MSI" width="70" height="70"/></h1>
            <p class="lead">Triiviprognoos Eesti merealale</p>
            <p>ADRIFT baseerub <a href="https://opendrift.github.io/">OpenDrift</a> trajektoorimudelil ja kasutab andmeid Eesti operatiivsetest meremudelitest.</p>
            <div class="row">
                <div class="col-md-12">
                    <form method="post" action="/project/new">
                        <div class="form-group">
                        <label class="control-label">Mudel</label>
                            <select id="model" name="model" class="form-control">
                              {% for model in models %}
                              <option value="{{ model['id'] }}">{{ model['name'] }}</option>
                              {% endfor %}
                            </select>
                        </div>
                      <div class="form-group">
                       <button type="submit" class="btn btn-default">Uus projekt</button>
                      </div>
                    </form>
                </div>
            </div>
            <div class="row">
             <div class="col-md-12">
              <h3>Salvestatud projektid</h3>
              <div id="projects"></div>
             </div>
            </div>
        </div>
    </body>
</html>
